@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@layer base {
  body {
    @apply bg-zinc-950 text-neutral-200;
    background-image: url("/bg-image-5.png") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.sec1 {
  display: flex;
  height: 18vh;
  justify-content: center;
  align-items: end;
  font-size: xx-large;
}

.sec11 {
  width: 52vw;
  height: 8vh;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  position: relative;
}

.landing-page {
  height: 100vh;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
